<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>姓名案例_计算属性</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        fuck <input type="text" v-model="fuck"> <br><br>
        you <input type="text" v-model="you"><br><br>
        full <span>{{full}}</span>

    </div>
    <script>
        new Vue({
            el:'#root',
            data:{
                fuck: 'fuck',
                you:'you'
            },
            // 计算属性是当用到的属性发生变化时就调用
            computed: {    // 计算属性，因为是要计算的，所以需要方法，而方法就是get和set
                full: {
                    get(){
                        return this.fuck + '-' + this.you   // 通过this拿到data中的数据
                    },
                    // 当full被修改时调用，要传入一个val值
                    set(val){
                        // 要改data中的数据全都要改
                        let t = val.split('-')
                        this.fuck = t[0]
                        this.you = t[1]
                    }
                }
            }
        })
    </script>
</body>
</html>